footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100%;
    height: auto;
    max-width: 1440px;
    margin: 0 auto;

    font-size: 16px;
    color: black;

    background-color: lightgray;
}

.conteudo_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 15%;
    height: 100%;
}

.conteudo_footer p{
    width: 300px;
    text-align: center;
}

.container_RedeSocial {
    display: flex;
    gap: 10px;
    justify-content: center;


    width: 100%;
}

.container_RedeSocial {
    width: 34px;
    height: 34px;
}

.container_RedeSocial img {
    width: auto;
    height: 100%;
}